@{
    ViewData["Title"] = "Bem-Vindo";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao Mottu</h1>

    <br />
    <br />

    <div class="d-grid gap-2 col-md-6 mx-auto">
      <a class ="btn btn-primary" asp-controller="Home" asp-action="CadUsu">Vamos começar!</a>
    </div>

    <br />
    <br />

    <p>Valorizando quem se movimenta e batalha para conquistar seus sonhos</p>
</div>
