@{
    ViewData["Title"] = "Sobre nós";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>Somos a empresa número 1 de entregas no Brasil! Entrega expressa, Suporte 24H, Garantia por pedidos. </p>
<br />
<p>A Mottu é uma startup de aluguel de motos e serviços logísticos. Nossa missão é transformar realidades e gerar oportunidades, entregando para aqueles que entregam e fazem o mundo rodar. Valorizando quem se movimenta e batalha para conquistar seus sonhos.</p>
